# Theme colors from cartogorp-custom palette

# Basic colors
foreground           {{ colours.text.primary }}
background           {{ colours.surface.a0 }}
selection_foreground {{ colours.text.primary }}
selection_background {{ colours.primary.a10 }}

# Cursor colors
cursor            {{ colours.danger.a0 }}
cursor_text_color {{ colours.surface.a0 }}

# URL underline color
url_color {{ colours.info.a10 }}

# Window border colors
active_border_color   {{ colours.danger.a0 }}
inactive_border_color {{ colours.surface.a10 }}
bell_border_color     {{ colours.danger.a0 }}

# Tab bar colors
active_tab_foreground   {{ colours.surface.a0 }}
active_tab_background   {{ colours.danger.a0 }}
inactive_tab_foreground {{ colours.text.primary }}
inactive_tab_background {{ colours.surface.a10 }}

# Marks
mark1_foreground {{ colours.surface.a0 }}
mark1_background {{ colours.danger.a0 }}
mark2_foreground {{ colours.surface.a0 }}
mark2_background {{ colours.accent.a10 }}
mark3_foreground {{ colours.surface.a0 }}
mark3_background {{ colours.info.a10 }}

# 16-color palette
color0  {{ colours.surface.a0 }}
color8  {{ colours.surface.a10 }}

color1  {{ colours.danger.a0 }}
color9  {{ colours.danger.a0 }}

color2  {{ colours.extra.green | default(colours.success.a0) }}
color10 {{ colours.extra.green | default(colours.success.a0) }}

color3  {{ colours.extra.yellow | default(colours.warning.a0) }}
color11 {{ colours.extra.yellow | default(colours.warning.a0) }}

color4  {{ colours.extra.blue | default(colours.info.a0) }}
color12 {{ colours.extra.blue | default(colours.info.a0) }}

color5  {{ colours.accent.a10 }}
color13 {{ colours.accent.a10 }}

color6  {{ colours.info.a10 }}
color14 {{ colours.info.a10 }}

color7  {{ colours.text.primary }}
color15 {{ colours.text.primary }}

